
<div class="full_container">
    <div class="inner_container">
       <!-- Sidebar  -->
       <nav id="sidebar">
          <div class="sidebar_blog_1">
             <div class="sidebar-header">
                
             </div>
             <div class="sidebar_user_info">
                <div class="icon_setting"></div>
                <div class="user_profle_side">
                  
                   <div class="user_info">
                      
                      
                   </div>
                </div>
             </div>
          </div>
          <div class="sidebar_blog_2">
             <h4>General</h4>
             <ul class="list-unstyled components">
                <li class="active"> 
                   <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                   <ul class="collapse list-unstyled" id="dashboard">
                      <li>
                         <a href="dashboard.html">> <span>Default Dashboard</span></a>
                      </li>
                      <li>
                         <a href="dashboard_2.html">> <span>Dashboard style 2</span></a>
                      </li>
                   </ul>
                </li>
                
                <li><a href="article/home"><i class="fa fa-newspaper-o"></i> <span>Article</span></a></li>
               
                
              
                <li><a href="client/home"><i class="fa fa-briefcase blue1_color"></i> <span>Client</span></a></li>
                <li>
                   <a href="contact.html">
                                           <i class="fa fa-paper-plane red_color"></i> <span>Catégorie</span></a>
                </li>
                <li class="active">
                   <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                   <ul class="collapse list-unstyled" id="additional_page">
                      <li>
                         <a href="profile.html">> <span>Profile</span></a>
                      </li>
                      <li>
                         <a href="project.html">> <span>Projects</span></a>
                      </li>
                      <li>
                         <a href="login.html">> <span>Login</span></a>
                      </li>
                      <li>
                         <a href="404_error.html">> <span>404 Error</span></a>
                      </li>
                   </ul>
                </li>
                <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Commande</span></a></li>
                <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Facture</span></a></li>
                <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
             </ul>
          </div>
          <p>hello</p>
       </nav>
       <!-- end sidebar -->
       <!-- right content -->
       <div id="content">
          <!-- topbar -->
          <div class="topbar">
             <nav class="navbar navbar-expand-lg navbar-light" style=> 
                <div class="full">
                   <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                  
                   <div class="right_topbar">
                      <div class="icon_info">
                         <ul>
                            <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                            <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                         </ul>
                         <ul class="user_profile_dd">
                            <li>
                               <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="./assets/ images/layout_img/user_img.jpg" alt="#8" /><span class="name_user">John David</span></a>
                               <div class="dropdown-menu">
                                  <a class="dropdown-item" href="profile.html">My Profile</a>
                                  <a class="dropdown-item" href="settings.html">Settings</a>
                                  <a class="dropdown-item" href="help.html">Help</a>
                                  <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                               </div>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </nav>
             <p>hr</p>
            
          </div>
<div>...................................................................................................</div>
          <router-outlet></router-outlet>
       </div>
      
    </div>
   
 </div>

